body{
top:0%;
left:0%;
background-color:#f0f0f0;
}
header{
background-image: url('img/background.png');
background-repeat:no-repeat;
background-size:cover;
opacity;0.9;
}

.rotate{
align-item:center;
width:13%;
radius="50%"
display:block;
-webkit-transition: -webkit-transform 0.5s;
}
.rotate:hover{
width:17%;
-webkit-transform: rotate(720deg) translateZ(0);
}
.vac{
display:block;
width:50%;
}
.vintage{
display:inline-block;
clip-path: polygon(50% 0, 100% 0, 100% 100%, 0 100%);
width:20%;
float:right;
display:inline;
}
.quiz{
clip-path: polygon(50% 0, 100% 0, 100% 100%, 0 100%);
width:160px;
float:left;
display:inline;
}
.joker{
clip-path: polygon(50% 0, 100% 0, 100% 100%, 0 100%);
width:160px;
float:right;
display:inline;
}
div{
background-color:#ffffff;
box-shadow:0px 0px 8px grey;
border-style:solid 1px;
margin:5%;
padding:1%;
}
h2{
color:#696969;
}
h3{
color:#8b8b8b;
}
nav{
float:right;
}
ul{
list-style:none;
}
.link{
font-size:150%;
display: flex;
flex-direction:row;
justify-content: space-between;
text-decoration:none;
margin-top:3px;
padding:9px;
border-style:solid;
border-radius:2%;
background-color:#000000;
color:#ffffff;
}
.link:hover{
background-color:white;
color:black;
}
.csi{
text-decoration:none;
color:#ffffff;
font-size:200%;
}
.rule{
background-color:#008080;
color:#ffffff;
}
.rule:hover{
background-color:#ffffff;
color:#008080;
}
hr{
width:70%;
float:left;
}
.buttons{
text-decoration:none;
color:#ffffff;
font-family:"proxima nova";
font-size:25px;
font-weight:100;
texgt-align;center;
border:solid 2px #ffffff;
background: transparent;
border-radius:50px;
padding:10px 40px;
margin:8px;
}
.buttons:hover{
padding-right:50px;
}
footer{
background-image: url('img/footer.png');
}
.utube{
text-decoration:none;
color:#ffffff;
}
.fb{
text-decoration:none;
color:#ffffff;
}
.insta{
text-decoration:none;
color:#ffffff;
}
.rules{
color:#008080;
padding:8px;
margin:6px;
}
.copyright{
color:#ffffff;
background-color:#008080;
text-align:center;
}