body{
top:0%;
left:0%;
background-color:#f0f0f0;
}
header{
width:100%; 
height:90vh;
background-image: url('img/background.png');
background-attachment:fixed;
background-repeat:no-repeat;
background-size:cover;
opacity:0.8;
}
.rotate{
align-item:center;
width:13%;
radius="50%"
display:block;
-webkit-transition: -webkit-transform 0.5s;
}
.rotate:hover{
width:14%;
-webkit-transform: rotate(720deg) translateZ(0);
}
.vac{
display:block;
width:50%;
}
.vintage{
display:inline-block;
clip-path: polygon(50% 0, 100% 0, 100% 100%, 0 100%);
width:28%;
float:right;
display:inline;
}
.quiz{
clip-path: polygon(0 0, 50% 0, 100% 100%, 0 100%);
width:23%;
float:left;
display:inline;
}
.joker{
clip-path: polygon(50% 0, 100% 0, 100% 100%, 0 100%);
width:18%;
float:right;
display:inline;
}
div{
background-color:#ffffff;
box-shadow:0px 0px 8px grey;
border-style:solid 1px;
margin:5%;
padding:1%;
}
h2{
color:#696969;
}
h3{
color:#8b8b8b;
}
nav{
float:right;
}
.link{
font-size:150%;
display:inline-block;
text-decoration:none;
margin:6px;
padding:9px;
border-style:solid;
border-radius:2%;
background-color:#000000;
color:#ffffff;
}
.linkone{
font-size:150%;
display:inline-block;
text-decoration:none;
margin:6px;
padding:9px;
border-style:solid;
border-radius:2%;
background-color:#000000;
color:#ffffff;
}
.linktwo{
font-size:150%;
display:inline-block;
text-decoration:none;
margin:6px;
padding:9px;
border-style:solid;
border-radius:2%;
background-color:#000000;
color:#ffffff;
}
#toggle{
position:fixed;
display:none;
}
.togglearea{
margin:10px;
border:solid 1px;
background-color:#f0f0f0;
color:#000000;
padding:11px;
float:right;
cursor:pointer;
}
nav{
display:none;
}
#toggle:checked + nav{
display:flex;
}
.link:hover{
background-color:white;
color:black;
}
.linkone:hover{
background-color:white;
color:black;
}
.linktwo:hover{
background-color:white;
color:black;
}
.csi{
position:fixed;
text-decoration:none;
color:#bebebe;
font-size:200%;
}
.csi:hover{
color:#000000;
}
.rule{
background-color:#008080;
color:#ffffff;
}
.rule:hover{
background-color:#ffffff;
color:#008080;
}
hr{
width:70%;
float:left;
}
.buttons{
text-decoration:none;
color:#000000;
font-family:"proxima nova";
font-size:25px;
font-weight:100;
texgt-align:center;
border:solid 2px ;
background-color:#f0f0f0;
opacity:0.8;
border-radius:50px;
padding:10px 40px;
margin:8px;
}
.buttons:hover{
padding-right:100px;
}
footer{
background-image: url('img/footer.png');
width:100%;
height:16vh;
}
.rules{
border:solid 1px;
text-decoration:none;
background-color:#f0f0f0;
color:#008080;
padding:8px;
margin:6px;
}
.social{
text-decoration:none;
padding:5px;
margin:5px;
border:solid 1px;
border-radius:5px;
color:#008080;
background-color:#f0f0f0;
opacity:0.5;
}
.social:hover{
border-radius:50px;
color:#008080;
background-color:#ffffff;
}
.copyright{
color:#ffffff;
background-color:#008080;
text-align:center;
}